{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Katya Sapa portfolio</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="about">
        <div class="image">
            <img src="https://media.licdn.com/dms/image/C5603AQFkPR8F4f0ywQ/profile-displayphoto-shrink_200_200/0?e=1582761600&v=beta&t=r03tw_YpzqbwtiXaUH_IiLli2ysB4SZDy6545FqDi9I">
        </div>

        <div class="intro">
            <h1> Katya Sapa portfolio</h1> 
            <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
            architecto beatae vitae dicta sunt explicabo.
            </p>

            <a href="#">Link 1</a> <a href="#">Link 1</a> <a href="#">Link 1</a> <a href="#">Link 1</a> <a href="#">Link 1</a>
        </div>
    </div>

    <div class="projects">
    
        {% for project in projects %}
            <div class="project" style="background-img: url('{{ project.img }}');">
                {{ project.name }}
                <br> 
                <a href="{{ project.linkGit }}" target="_blank">GitHub</a>
                <a href="{{ project.linkDepl }}" target="_blank">Production</a>
                
                {{ project.year }}
            </div>
        {% endfor %}

    </div>  
</div>

    <div class="footer">
    Written from scratch. All files available on <a href="" target="_blank">GitHub</a>. (c) 2019
    </div>
</body>
</html>