{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Katya Sapa portfolio</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
</head>
<body>
<div class="wrapper">
    <div class="about">

        <div class="intro">
            <h1> Katya Sapa portfolio</h1> 

            <img src="https://media.licdn.com/dms/image/C5603AQFkPR8F4f0ywQ/profile-displayphoto-shrink_200_200/0?e=1582761600&v=beta&t=r03tw_YpzqbwtiXaUH_IiLli2ysB4SZDy6545FqDi9I">
            <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
            architecto beatae vitae dicta sunt explicabo.
            </p>

            <div class="links">
                <a href="https://www.linkedin.com/in/katarzyna-sapa/">LinkedIn</a> 
                <a href="https://github.com/Ardhanari">GitHub</a> 
                <a href="urlforcontact">Contact me</a> 
                {% if cv %}
                    <a href="media/{{ cv.file }}">Download CV (PDF)</a> 
                {% endif %}
            </div>
        </div>
    </div>

    <div class="projects">
    
        {% for project in projects %}
            <div class="project" style="background-image: url('media/{{ project.img }}')">  
                <div class="project-title">
                    <h5>{{ project.name }}</h5>
                </div>

                <div class="project-row">
                    <a href="{{ project.linkGit }}" target="_blank">GitHub</a>
                </div>

                <div class="project-row">
                    <a href="{{ project.linkDepl }}" target="_blank">Production</a>
                </div>

                <div class="project-row">
                    {{ project.year }}
                </div>
                
                <div class="project-row">
                    &nbsp;
                </div>
                
            </div>
        {% endfor %}

    </div>  
</div>

    <div class="footer">
    Made from scratch with Django. Hosted on Heroku. All files for this page available on <a href="https://github.com/Ardhanari/portfolio" target="_blank">GitHub</a>. (c) 2019 ksapa.eu
    </div>
</body>
<script src="{% static 'js/custom.js' %}"></script>
</html>