{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Katarzyna Sapa - portfolio</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
<div class="wrapper">
    <div class="about">

        <div class="intro">
            <h1> Katarzyna Sapa</h1> 

            <img src="{{ MEDIA_URL }}{{ desc.img }}">
            
            {{ desc.text|linebreaks  }}

            <div class="links">
                <a href="https://www.linkedin.com/in/katarzyna-sapa/">LinkedIn</a> 
                <a href="https://github.com/Ardhanari">GitHub</a> 
                <a href="mailto:katarzyna.sapa@gmail.com">Contact me</a> 
                {% if cv %}
                    <a href="{{ MEDIA_URL }}{{ cv.file }}">Download my CV</a> 
                {% endif %}
            </div>
        </div>
    </div>

    <div class="projects">
        <h2> Projects I worked on</h2>
    
        {% for project in projects %}
            <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.img }}')">  
                <div class="project-title">
                    <h5>{{ project.name }}</h5>
                </div>

                <div class="project-row">
                    <p>
                        {{ project.desc }}
                    </p>
                    <p>
                        <a href="{{ project.linkGit }}" target="_blank">GitHub</a>
                    </p>
                    <p>    
                
                    <a href="{{ project.linkDepl }}" target="_blank">Production</a>
                    </p>
                    <p>
                    {{ project.year|date:"F Y" }}
                    </p>
                </div>
                
                
            </div>
        {% endfor %}

    </div>  
</div>

    <div class="footer">
    Made from scratch with Django. Hosted on Heroku. All files for this page available on <a href="https://github.com/Ardhanari/portfolio" target="_blank">GitHub</a>. (c) {% now "Y" %} ksapa.eu
    </div>
</body>
<script src="{% static 'js/custom.js' %}"></script>
</html>